<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senai.sp.jandira.everypetspp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EveryPets">
        <activity android:name=".Localizacao"></activity>
        <activity android:name=".RegistrarPet" />
        <activity android:name=".EditInformacoesPet" />
        <activity android:name=".CadastroComAnimalSalvo" />
        <activity android:name=".CadastroEmail" />
        <activity android:name=".Cadastro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>